.cuadro {
  width: 240px;
  height: 320px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2b2b33;
}
h1 {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  color: #e69020;
  letter-spacing: 5px;
  text-shadow: 3px 3px 3px #2b2b33;
}
p {
  font-family: 'Nunito', sans-serif;
  color: white;
}
.subir {
  padding: 7px 17px;
  background-color: #e69020;
  font-size: 30px;
  font-family: 'Bangers', cursive;
  color: black;
  margin: auto;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  left: 10px;
  bottom: 40px;
}
.subir a {
  color: black;
}
.subir:active {
  background-color: black ;
}
.subir:active a {
  color: #e69020;
}
.header {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: none;
  background-color: transparent;
  position: absolute;
  width: 100%;
}
.header__logo img {
  width: 120px;
  margin: 40px 60px;
}
.header .hamburguesa {
  display: none;
  justify-content: center;
  align-items: center;
}
.header .hamburguesa img {
  margin: 40px 60px;
  width: 40px;
}
.header__menu ul {
  display: flex;
  margin: 60px 60px;
}
.header__menu ul a {
  color: white;
  list-style: none;
  margin: 0 20px;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  outline: none;
}
.header__menu ul a:hover {
  color: #e6c338;
}
