.cuadro {
  width: 240px;
  height: 320px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2b2b33;
}
h1 {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  color: #e69020;
  letter-spacing: 5px;
}
p {
  font-family: 'Nunito', sans-serif;
  color: white;
}
.subir {
  padding: 7px 17px;
  background-color: #e69020;
  font-size: 30px;
  font-family: 'Bangers', cursive;
  color: black;
  margin: auto;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  left: 10px;
  bottom: 40px;
}
.subir a {
  color: black;
}
.subir:active {
  background-color: black ;
}
.subir:active a {
  color: #e69020;
}
.section4 {
  height: 100%;
  display: none;
}
.section4--fondo {
  height: 110%;
  display: flex;
  width: 100%;
  filter: blur(3px);
  position: absolute;
}
.section4--fondo img {
  width: 100%;
  filter: brightness(50%);
  object-fit: cover;
}
.section4--paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 50;
  text-align: center;
  padding-top: 30px;
}
.section4--paragraph h1 {
  color: #e69020;
  margin-bottom: 20px;
}
.section4--paragraph span {
  color: white;
}
.section4--paragraph p {
  max-width: 80%;
  min-width: 150px;
  margin-bottom: 20px;
}
.section4--ver_mas {
  display: flex;
  justify-content: center;
  align-items: none;
  position: relative;
  z-index: 1200;
  margin-bottom: 30px;
}
.section4--ver_mas a {
  margin-top: 10px;
  padding: 10px 35px;
  color: white;
  background-color: #000000;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  border: none;
  border-radius: 20px;
  border: 2px solid white;
  position: relative;
  z-index: 20;
  text-decoration: none;
}
.section4--ver_mas a:hover {
  border: 2px solid #e69020;
}
.section4--images {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  z-index: 40;
}
.section4--images img {
  position: relative;
  object-fit: cover;
  height: inherit;
  margin: 30px;
  width: 240px;
  height: 320px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
}
